<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>uni1780</key>
    <string>uni1780.glif</string>
    <key>uni1781</key>
    <string>uni1781.glif</string>
    <key>uni1782</key>
    <string>uni1782.glif</string>
    <key>uni1783</key>
    <string>uni1783.glif</string>
    <key>uni1784</key>
    <string>uni1784.glif</string>
    <key>uni1785</key>
    <string>uni1785.glif</string>
    <key>uni1786</key>
    <string>uni1786.glif</string>
    <key>uni1787</key>
    <string>uni1787.glif</string>
    <key>uni1788</key>
    <string>uni1788.glif</string>
    <key>uni1789</key>
    <string>uni1789.glif</string>
    <key>uni178A</key>
    <string>uni178A_.glif</string>
    <key>uni178B</key>
    <string>uni178B_.glif</string>
    <key>uni178C</key>
    <string>uni178C_.glif</string>
    <key>uni178D</key>
    <string>uni178D_.glif</string>
    <key>uni178E</key>
    <string>uni178E_.glif</string>
    <key>uni178F</key>
    <string>uni178F_.glif</string>
    <key>uni1790</key>
    <string>uni1790.glif</string>
    <key>uni1791</key>
    <string>uni1791.glif</string>
    <key>uni1792</key>
    <string>uni1792.glif</string>
    <key>uni1793</key>
    <string>uni1793.glif</string>
    <key>uni1794</key>
    <string>uni1794.glif</string>
    <key>uni1795</key>
    <string>uni1795.glif</string>
    <key>uni1796</key>
    <string>uni1796.glif</string>
    <key>uni1797</key>
    <string>uni1797.glif</string>
    <key>uni1798</key>
    <string>uni1798.glif</string>
    <key>uni1799</key>
    <string>uni1799.glif</string>
    <key>uni179A</key>
    <string>uni179A_.glif</string>
    <key>uni179B</key>
    <string>uni179B_.glif</string>
    <key>uni179C</key>
    <string>uni179C_.glif</string>
    <key>uni179D</key>
    <string>uni179D_.glif</string>
    <key>uni179E</key>
    <string>uni179E_.glif</string>
    <key>uni179F</key>
    <string>uni179F_.glif</string>
    <key>uni17A0</key>
    <string>uni17A_0.glif</string>
    <key>uni17A1</key>
    <string>uni17A_1.glif</string>
    <key>uni17A2</key>
    <string>uni17A_2.glif</string>
    <key>uni17A3</key>
    <string>uni17A_3.glif</string>
    <key>uni17A4</key>
    <string>uni17A_4.glif</string>
    <key>uni17A5</key>
    <string>uni17A_5.glif</string>
    <key>uni17A6</key>
    <string>uni17A_6.glif</string>
    <key>uni17A7</key>
    <string>uni17A_7.glif</string>
    <key>uni17A8</key>
    <string>uni17A_8.glif</string>
    <key>uni17A9</key>
    <string>uni17A_9.glif</string>
    <key>uni17AA</key>
    <string>uni17A_A_.glif</string>
    <key>uni17AB</key>
    <string>uni17A_B_.glif</string>
    <key>uni17AC</key>
    <string>uni17A_C_.glif</string>
    <key>uni17AD</key>
    <string>uni17A_D_.glif</string>
    <key>uni17AE</key>
    <string>uni17A_E_.glif</string>
    <key>uni17AF</key>
    <string>uni17A_F_.glif</string>
    <key>uni17B0</key>
    <string>uni17B_0.glif</string>
    <key>uni17B1</key>
    <string>uni17B_1.glif</string>
    <key>uni17B2</key>
    <string>uni17B_2.glif</string>
    <key>uni17B3</key>
    <string>uni17B_3.glif</string>
    <key>uni17B4</key>
    <string>uni17B_4.glif</string>
    <key>uni17B5</key>
    <string>uni17B_5.glif</string>
    <key>uni17B6</key>
    <string>uni17B_6.glif</string>
    <key>uni17B7</key>
    <string>uni17B_7.glif</string>
    <key>uni17B8</key>
    <string>uni17B_8.glif</string>
    <key>uni17B9</key>
    <string>uni17B_9.glif</string>
    <key>uni17BA</key>
    <string>uni17B_A_.glif</string>
    <key>uni17BB</key>
    <string>uni17B_B_.glif</string>
    <key>uni17BC</key>
    <string>uni17B_C_.glif</string>
    <key>uni17BD</key>
    <string>uni17B_D_.glif</string>
    <key>uni17BE</key>
    <string>uni17B_E_.glif</string>
    <key>uni17BF</key>
    <string>uni17B_F_.glif</string>
    <key>uni17C0</key>
    <string>uni17C_0.glif</string>
    <key>uni17C1</key>
    <string>uni17C_1.glif</string>
    <key>uni17C2</key>
    <string>uni17C_2.glif</string>
    <key>uni17C3</key>
    <string>uni17C_3.glif</string>
    <key>uni17C4</key>
    <string>uni17C_4.glif</string>
    <key>uni17C5</key>
    <string>uni17C_5.glif</string>
    <key>uni17C6</key>
    <string>uni17C_6.glif</string>
    <key>uni17C7</key>
    <string>uni17C_7.glif</string>
    <key>uni17C8</key>
    <string>uni17C_8.glif</string>
    <key>uni17C9</key>
    <string>uni17C_9.glif</string>
    <key>uni17CA</key>
    <string>uni17C_A_.glif</string>
    <key>uni17CB</key>
    <string>uni17C_B_.glif</string>
    <key>uni17CC</key>
    <string>uni17C_C_.glif</string>
    <key>uni17CD</key>
    <string>uni17C_D_.glif</string>
    <key>uni17CE</key>
    <string>uni17C_E_.glif</string>
    <key>uni17CF</key>
    <string>uni17C_F_.glif</string>
    <key>uni17D0</key>
    <string>uni17D_0.glif</string>
    <key>uni17D1</key>
    <string>uni17D_1.glif</string>
    <key>uni17D2</key>
    <string>uni17D_2.glif</string>
    <key>uni17D3</key>
    <string>uni17D_3.glif</string>
    <key>uni17D4</key>
    <string>uni17D_4.glif</string>
    <key>uni17D5</key>
    <string>uni17D_5.glif</string>
    <key>uni17D6</key>
    <string>uni17D_6.glif</string>
    <key>uni17D7</key>
    <string>uni17D_7.glif</string>
    <key>uni17D8</key>
    <string>uni17D_8.glif</string>
    <key>uni17D9</key>
    <string>uni17D_9.glif</string>
    <key>uni17DA</key>
    <string>uni17D_A_.glif</string>
    <key>uni17DB</key>
    <string>uni17D_B_.glif</string>
    <key>uni17DC</key>
    <string>uni17D_C_.glif</string>
    <key>uni17DD</key>
    <string>uni17D_D_.glif</string>
    <key>uni17E0</key>
    <string>uni17E_0.glif</string>
    <key>uni17E1</key>
    <string>uni17E_1.glif</string>
    <key>uni17E2</key>
    <string>uni17E_2.glif</string>
    <key>uni17E3</key>
    <string>uni17E_3.glif</string>
    <key>uni17E4</key>
    <string>uni17E_4.glif</string>
    <key>uni17E5</key>
    <string>uni17E_5.glif</string>
    <key>uni17E6</key>
    <string>uni17E_6.glif</string>
    <key>uni17E7</key>
    <string>uni17E_7.glif</string>
    <key>uni17E8</key>
    <string>uni17E_8.glif</string>
    <key>uni17E9</key>
    <string>uni17E_9.glif</string>
    <key>sub80</key>
    <string>sub80.glif</string>
    <key>sub81</key>
    <string>sub81.glif</string>
    <key>sub82</key>
    <string>sub82.glif</string>
    <key>sub83</key>
    <string>sub83.glif</string>
    <key>sub84</key>
    <string>sub84.glif</string>
    <key>sub85</key>
    <string>sub85.glif</string>
    <key>sub86</key>
    <string>sub86.glif</string>
    <key>sub87</key>
    <string>sub87.glif</string>
    <key>sub88</key>
    <string>sub88.glif</string>
    <key>sub89</key>
    <string>sub89.glif</string>
    <key>sub8A</key>
    <string>sub8A_.glif</string>
    <key>sub8B</key>
    <string>sub8B_.glif</string>
    <key>sub8C</key>
    <string>sub8C_.glif</string>
    <key>sub8D</key>
    <string>sub8D_.glif</string>
    <key>sub8E</key>
    <string>sub8E_.glif</string>
    <key>sub8F</key>
    <string>sub8F_.glif</string>
    <key>sub90</key>
    <string>sub90.glif</string>
    <key>sub91</key>
    <string>sub91.glif</string>
    <key>sub92</key>
    <string>sub92.glif</string>
    <key>sub93</key>
    <string>sub93.glif</string>
    <key>sub94</key>
    <string>sub94.glif</string>
    <key>sub95</key>
    <string>sub95.glif</string>
    <key>sub96</key>
    <string>sub96.glif</string>
    <key>sub97</key>
    <string>sub97.glif</string>
    <key>sub98</key>
    <string>sub98.glif</string>
    <key>sub99</key>
    <string>sub99.glif</string>
    <key>sub9A</key>
    <string>sub9A_.glif</string>
    <key>sub9B</key>
    <string>sub9B_.glif</string>
    <key>sub9C</key>
    <string>sub9C_.glif</string>
    <key>sub9F</key>
    <string>sub9F_.glif</string>
    <key>subA0</key>
    <string>subA_0.glif</string>
    <key>subA2</key>
    <string>subA_2.glif</string>
    <key>uni17BB.b</key>
    <string>uni17B_B_.b.glif</string>
    <key>uni17BC.b</key>
    <string>uni17B_C_.b.glif</string>
    <key>uni17BD.b</key>
    <string>uni17B_D_.b.glif</string>
    <key>uni17B7.a</key>
    <string>uni17B_7.a.glif</string>
    <key>uni17B8.a</key>
    <string>uni17B_8.a.glif</string>
    <key>uni17B9.a</key>
    <string>uni17B_9.a.glif</string>
    <key>uni17BA.a</key>
    <string>uni17B_A_.a.glif</string>
    <key>uni17C6.a</key>
    <string>uni17C_6.a.glif</string>
    <key>uni17CE.a</key>
    <string>uni17C_E_.a.glif</string>
    <key>uni17D0.a</key>
    <string>uni17D_0.a.glif</string>
    <key>uni1789.a</key>
    <string>uni1789.a.glif</string>
    <key>sub9A.b</key>
    <string>sub9A_.b.glif</string>
    <key>uni17BF.b</key>
    <string>uni17B_F_.b.glif</string>
    <key>uni17C0.b</key>
    <string>uni17C_0.b.glif</string>
    <key>uni17B7_17CD</key>
    <string>uni17B_7_17C_D_.glif</string>
    <key>uni17B7.r</key>
    <string>uni17B_7.r.glif</string>
    <key>uni17B8.r</key>
    <string>uni17B_8.r.glif</string>
    <key>uni17B9.r</key>
    <string>uni17B_9.r.glif</string>
    <key>uni17BA.r</key>
    <string>uni17B_A_.r.glif</string>
    <key>uni17C6.r</key>
    <string>uni17C_6.r.glif</string>
    <key>uni17C9.r</key>
    <string>uni17C_9.r.glif</string>
    <key>uni17CD.r</key>
    <string>uni17C_D_.r.glif</string>
    <key>uni17B7_17CD.r</key>
    <string>uni17B_7_17C_D_.r.glif</string>
    <key>sub89.a</key>
    <string>sub89.a.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>sub83.b</key>
    <string>sub83.b.glif</string>
    <key>sub88.b</key>
    <string>sub88.b.glif</string>
    <key>sub8D.b</key>
    <string>sub8D_.b.glif</string>
    <key>sub94.b</key>
    <string>sub94.b.glif</string>
    <key>sub99.b</key>
    <string>sub99.b.glif</string>
    <key>sub9F.b</key>
    <string>sub9F_.b.glif</string>
    <key>uni17BF.right</key>
    <string>uni17B_F_.right.glif</string>
    <key>uni17C0.right</key>
    <string>uni17C_0.right.glif</string>
    <key>uni17C5.right</key>
    <string>uni17C_5.right.glif</string>
    <key>uni1794.a</key>
    <string>uni1794.a.glif</string>
  </dict>
</plist>
